mat-sidenav {
    position: inherit;
    border: 0;
    overflow-y: hidden;
}

mat-nav-list img {
    width: 30px;
}

.alignTop {
    vertical-align: super;
    /* margin-left: 16px; */
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    /* color: var(--gray2); */
    padding-top: 2px;
}
.active .alignTop {color: #000;}

.left-nav-p {
    justify-content: start;
    padding-left: 35px;
    width: 100%;
    float: left;
    border-left: 5px solid transparent;
    padding: 12px 5px;
    align-items: center;
    transition: all .3s;
}
.left-nav-p:hover{border-left: 5px solid var(--light-blue);}

.left-nav-p.active {
    background: var(--ee-light-blue);
    border-left: 5px solid var(--light-blue);
}
.mat-nav-list {
    cursor: pointer;
    padding: 5px 0 !important;
    /* display: flex; */
    align-items: center;
    text-align: center;
    width: 100%;
}

mat-icon {
    position: unset;
    bottom: 0;
    float: none;
}

:ng-deep mat-sidenav-container.mat-drawer-inner-container {
    overflow: hidden;
}

.mat-drawer {
    display: inline;
}

/*
.left-nav-p {padding-left: 20px !important;transition: padding-left .2s;cursor: pointer;}
.left-nav-p:hover {padding-left: 23px !important;} */